
/* ------ Main Page style ------ */
@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:400,700&subset=cyrillic');

body {
	background-color: #f2f2f2
}
footer {
	background-color: #343434;
	border-top: 5px, solid#343434;
	height: 5rem;
	font-family: "Roboto Slab", serif;
}

hr {
	border-width: 3px;
	border-color: #F05F40;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Roboto Slab', serif;
}

.footer-el {
	color: #f4f4f4;
}

header.masthead {
	padding-top: 10rem;
	padding-bottom: calc(10rem - 56px);
	background-image: url("../images/fon.jpg");
	background-position: center center;
	background-size: cover;
	height: 508px;
	opacity: 0.8;
  }
  
  header.masthead hr {
	margin-top: 30px;
	margin-bottom: 30px;
  }
  
  header.masthead h1 {
	font-size: 2rem;
  }
  
  header.masthead p {
	font-weight: 300;
  }

#users, #user, #transaction, #account {
	padding-top: 3rem;
	padding-bottom: calc(10rem - 56px);
	height: 508px;
	opacity: 0.8;
	
}

.media-left{
	padding-right: 15px; 
}
.media-body {
	padding-left: 15px;
}

.media-body p {
	font-weight: 300;
}







